body{
    background-color: lightcyan
}
h1{
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.para{
    text-align: center;
}

h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.video{
    margin: 0 auto;
}
iframe{
    margin: 0 auto;
    display: block;
    width: 520px;
    height: 315px;
}